{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <h1>Buy</h1>
    <form action="{{ url_for('buy') }}" method="post">
        <div style="width: 400px; margin: 20px auto;"></div>
        <label for="symbol" style="font-size: 20px; display: inline-block; width: 150px;">Symbol :</label>
        <input type="text" name="symbol" id="symbol" style="font-size: 20px" ; width="400px"> <br>

        <label for="shares" style="font-size: 20px; display: inline-block; width: 150px;">Shares : </label>
        <input type="text" name="shares" id="shares" placeholder="Amount of shares to buy" style="font-size: 20px" ; width="400px"> <br>
        <div style="width: 400px; margin: 10px auto;"></div>
        <button type="submit" value="Buy" style="font-size: 20px; display: block; margin-top: 10px; margin-left: auto; margin-right: 550px;">Buy now</button>

    </div>
    </div>
    </form>

    <!--  I make a table of most active quote from several resoureces so that user can eaisyly choose which quote to buy  -->

    <br>
    <p class="text-center" style="font-size: 24px; color: #333;">You can use this list as reference</p>

    <div class="container">
        <table class="table table-bordered table-striped mx-auto" style="font-size: 18px; max-width: 400px;">
            <tr style="background-color: #FF007F;">
                <th>
                    <h2 class="text-center" style="color: white;">Most Active Stock Links</h2>
                </th>
            </tr>
            <tr>
                <td><a href="https://finance.yahoo.com/most-active/" target="_blank" style="color: #007bff;">Yahoo Finance - Most Active</a></td>
            </tr>
            <tr>
                <td><a href="https://www.nasdaq.com/market-activity/most-active" target="_blank" style="color: #28a745;">Nasdaq - Most Active</a></td>
            </tr>
            <tr>
                <td><a href="https://www.investing.com/" target="_blank" style="color: #dc3545;">Investing.com - Most Active</a></td>
            </tr>
        </table>
{% endblock %}
