{% extends "index.html" %}

{% block title %}
    Litera Lab: Home
{% endblock %}

{% block main %}

    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
            <h1>Welcome </h1>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">

    <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
                        <img src="assets/img/akm2.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
                        <h3>Welcome to Litera Lab, an educational platform dedicated to assisting schools
                            and students in preparing for the new challenges in the national education evaluation system.</h3>
                        <br>
                        <p class="fst-italic">
                            With the removal of the National Examination and its replacement with the Assessmen Kompetensi Minimum (AKM),
                            schools are tasked with the important responsibility of preparing students to face these changes. One of the
                            primary emphases of the Assessmen Nasional (AN) is to assess the level of literacy skills among students, a crucial aspect in
                            education. Litera Lab is designed to address this need by providing schools and students with resources,
                            exercises aimed at enhancing their literacy skills. With a variety of resources available,
                            we are committed to supporting an effective and enjoyable learning process for all parties involved. Explore
                            Litera Lab, where literacy lays the foundation for students' future success!
                        </div>
                    </p>
                </div>

            </div>

        </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <span>Our Frame Work</span>
                    <h2>Our Frame Work</h2>
                    <p>Litera Lab was developed using the AKM framework, which comprises Content, Context, and Cognitive Processes.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-dribbble"></i></div>
                            <h4><a href="">Content</a></h4>
                            <p>Litera Lab provides reading materials in the form of both fiction and informative texts</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-file"></i></div>
                            <h4><a href="">Context</a></h4>
                            <p>Litera Lab provides reading materials within the contexts of Personal, Socio-cultural, and Scientific aspects.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-tachometer"></i></div>
                            <h4><a href="">Cognitif Proceses</a></h4>
                            <p>Cognitive Processes: Litera Lab prepares questions at three cognitive levels: Finding Information,
                                Interpreting/Integrating, and Evaluating and Reflecting.</p>
                        </div>
                    </div>


                </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
                <section id="portfolio" class="portfolio">
                    <div class="container">

                        <div class="section-title">
                            <span>Our Clients</span>
                            <h2>Our Clients</h2>
                            <p>Schools that are supporting us</p>
                        </div>

                        <div class="row" data-aos="fade-up">
                            <div class="col-lg-12 d-flex justify-content-center">
                                <ul id="portfolio-flters">
                                    <li data-filter="*" class="filter-active">SMAN 2 MAJENE</li>
                                    <li data-filter=".filter-app">SMKN 3 MAJENE</li>
                                    <li data-filter=".filter-card">SMKN 1 MEKALHAAN</li>

                                </ul>
                            </div>
                        </div>

                        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="assets/img/portfolio/portfolio-1.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 1</h4>
                                    <p>App</p>
                                    <a href="assets/img/portfolio/portfolio-1.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                                <img src="assets/img/portfolio/portfolio-2.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Web 3</h4>
                                    <p>Web</p>
                                    <a href="assets/img/portfolio/portfolio-2.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                                <img src="assets/img/portfolio/portfolio-3.png" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>App 2</h4>
                                    <p>App</p>
                                    <a href="assets/img/portfolio/portfolio-3.png" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                                <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
                                <div class="portfolio-info">
                                    <h4>Card 2</h4>
                                    <p>Card</p>
                                    <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
                                    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
                                </div>
                            </div>

                        </section><!-- End Portfolio Section -->

   <!--  my team Section-->
                    <div class="background-wrapper">
                        <div class="team-title">
                            <h2>Creator:</h2>
                            <h5>Team CS50x Indonesia Sulawesi - Barat</h5>
                        </div>
                            <Section>
                                <div class="team-container">
                                    <div class="team-member">
                                        <div class="picture">
                                            <img src="/static/img/team-1.png" alt="Picture 1">
                                        </div>
                                        <div class="card">
                                            <h4>Benyamin Bode Rumimbo, S.Pd., M.A.</h4>
                                            <span>Physics Teacher</span>
                                            <span>SMAN 2 Majene</span>
                                        </div>
                                    </div>
                                    <div class="team-member">
                                        <div class="picture">
                                            <img src="/static/img/team-2.png" alt="Picture 1">
                                        </div>
                                        <div class="card">
                                            <h4>Muh. As'ad Syafri, S.Pd., M.Pd.</h4>
                                            <span>English Taecher</span>
                                            <span>SMKN 3 Majene</span>
                                        </div>
                                    </div>
                                    <div class="team-member">
                                        <div class="picture">
                                            <img src="/static/img/team-3.jpg" alt="Picture 3">
                                        </div>
                                        <div class="card">
                                            <h4>Muh. As'ad Syafri, S.Pd., M.Pd.</h4>
                                            <span>English Taecher</span>
                                            <span>SMKN 3 Majene</span>
                                        </div>
                                    </div>
                                </div>
                            </Section>
                        </div>

    <!-- End my team Section-->


    <!-- ======= Contact Section ======= -->

                            <section id="contact" class="contact">
                                <br>
                                <div class="container">

                                    <div class="section-title">

                                        <h2>Contact</h2>
                                       <h5> Team CS50x Indonesia Sulawesi - Barat </h5>

                                    </div>

                                    <div class="grid-container">
                                        <div class="card">
                                            <h3>SMAN 2 Majene</h3>
                                            <p>Jl. Chairil Anwar No.3 Majene-Sulawesi Barat</p>
                                        </div>
                                        <div class="card">
                                            <h3>SMKN 3 Majene</h3>
                                            <p>Jl.Pros Majene-Mamuju Kab. Majene-Sulawesi Barat</p>
                                        </div>
                                        <div class="card">
                                            <h3>SMKN 1 Mehalaan Mamasa</h3>
                                            <p>Jl Poros Mambi-Mamuju Kab. Mamasa-Sulawesi Barat</p>
                                        </div>
                                        <div class="card">
                                            <div class="map">
                                                <div class="mapouter">
                                                    <div class="gmap_canvas"><iframe width="400" height="268" id="gmap_canvas" src="https://maps.google.com/maps?q=SMAN+2+Majene+Sulawesi+barat&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://timenowin.net/">online clock</a><br><a href="https://www.analarmclock.com/"></a><br>
                                                        <style>
                                                            .mapouter {
                                                                position: relative;
                                                                text-align: right;
                                                                height: 268px;
                                                                width: 400px;
                                                            }
                                                        </style><a href="https://www.mapembed.net">adding google map to website</a>
                                                        <style>
                                                            .gmap_canvas {
                                                                overflow: hidden;
                                                                background: none !important;
                                                                height: 268px;
                                                                width: 400px;
                                                            }
                                                        </style>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="map">
                                                <div class="mapouter">
                                                    <div class="gmap_canvas"><iframe width="400" height="268" id="gmap_canvas" src="https://maps.google.com/maps?q=SMKN+3+Majene+Sulawesi+barat&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://timenowin.net/">online clock</a><br><a href="https://www.analarmclock.com/"></a><br>
                                                        <style>
                                                            .mapouter {
                                                                position: relative;
                                                                text-align: right;
                                                                height: 268px;
                                                                width: 400px;
                                                            }
                                                        </style><a href="https://www.mapembed.net">adding google map to website</a>
                                                        <style>
                                                            .gmap_canvas {
                                                                overflow: hidden;
                                                                background: none !important;
                                                                height: 268px;
                                                                width: 400px;
                                                            }
                                                        </style>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="map">
                                                <div class="mapouter">
                                                    <div class="gmap_canvas"><iframe width="400" height="268" id="gmap_canvas" src="https://maps.google.com/maps?q=SMKN+1+Mehalaan+mamasa&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://timenowin.net/">online clock</a><br><a href="https://www.analarmclock.com/"></a><br>
                                                        <style>
                                                            .mapouter {
                                                                position: relative;
                                                                text-align: right;
                                                                height: 268px;
                                                                width: 400px;
                                                            }
                                                        </style><a href="https://www.mapembed.net">html map area</a>
                                                        <style>
                                                            .gmap_canvas {
                                                                overflow: hidden;
                                                                background: none !important;
                                                                height: 268px;
                                                                width: 400px;
                                                            }
                                                        </style>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </section><!-- End Contact Section -->

                        </main><!-- End #main -->


                    </body>
                    <style>
    /**
* Template Name: Day
* Updated: Jan 29 2024 with Bootstrap v5.3.2
* Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/


/*----TEAM SECTION---------------------------------*/
                        .team-title{
                            background-color: #f0e6f5;
                            padding-top: 10px;
                            padding-bottom: 50px;
                        }
                        .background-wrapper {
                            background-color: #f0e6f5;
                            padding-top: 10px;
                            padding-bottom: 50px;
                            border-radius: 20px;
                        }

                        .team-container {
                            display: flex;
                            justify-content: center;
                            gap: 20px;
                        }

                        .team-member {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                        }

                        .picture img {
                            border-radius: 50%;
                            width: 250px;
                            height: 250px;
                        }

                        .card {
                            padding: 10px;
                            border: 1px solid #ccc;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                            border-radius: 8px;
                            text-align: center;
                        }

    /*------------------------------------------*/
                        .grid-container {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            gap: 20px;
                        }

                        .card {
                            border: 1px solid #ccc;
                            border-radius: 8px;
                            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                            padding: 20px;
                        }

                        .map {
                            width: 100%;
                            height: 200px;
        /* Adjust the height as needed */
                            background-color: #f0f0f0;
                            border-radius: 8px;
                        }

                        body {
                            font-family: "Open Sans", sans-serif;
                            color: #444444;
                        }

                        a {
                            color: #cc1616;
                            text-decoration: none;
                        }

                        a:hover {
                            color: #e82d2d;
                            text-decoration: none;
                        }

                        .about .content h3 {
                            font-weight: 600;
                            font-size: 26px;
                        }

                        .about .content ul {
                            list-style: none;
                            padding: 0;
                        }

                        .about .content ul li {
                            padding-bottom: 10px;
                        }

                        .about .content ul i {
                            font-size: 20px;
                            padding-right: 4px;
                            color: #cc1616;
                        }

                        .about .content p:last-child {
                            margin-bottom: 0;
                        }

    /*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
                        .why-us {
                            padding-top: 10px;
                        }

                        .why-us .box {
                            padding: 50px 30px;
                            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                            transition: all ease-in-out 0.3s;
                        }

                        .why-us .box span {
                            display: block;
                            font-size: 28px;
                            font-weight: 700;
                            color: #ed5b5b;
                        }

                        .why-us .box h4 {
                            font-size: 24px;
                            font-weight: 600;
                            padding: 0;
                            margin: 20px 0;
                            color: #191919;
                        }

                        .why-us .box p {
                            color: #aaaaaa;
                            font-size: 15px;
                            margin: 0;
                            padding: 0;
                        }

                        .why-us .box:hover {
                            background: #cc1616;
                            padding: 30px 30px 70px 30px;
                            box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
                        }

                        .why-us .box:hover span,
                        .why-us .box:hover h4,
                        .why-us .box:hover p {
                            color: #fff;
                        }

    /*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
                        .clients {
                            background: #f2f2f2;
                            padding: 15px 0;
                            text-align: center;
                        }

                        .clients img {
                            width: 50%;
                            filter: grayscale(100);
                            transition: all 0.4s ease-in-out;
                            display: inline-block;
                            padding: 15px 0;
                        }

                        .clients img:hover {
                            filter: none;
                            transform: scale(1.2);
                        }

                        @media (max-width: 768px) {
                            .clients img {
                                width: 40%;
                            }
                        }

    /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
                        .services .icon-box {
                            text-align: center;
                            padding: 80px 20px;
                            transition: all ease-in-out 0.3s;
                            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
                        }

                        .services .icon-box .icon {
                            margin: 0 auto;
                            width: 64px;
                            height: 64px;
                            background: #cc1616;
                            transition: all 0.3s ease-out 0s;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 20px;
                            transform-style: preserve-3d;
                            position: relative;
                            z-index: 2;
                        }

                        .services .icon-box .icon i {
                            color: #fff;
                            font-size: 28px;
                            transition: ease-in-out 0.3s;
                        }

                        .services .icon-box .icon::before {
                            position: absolute;
                            content: "";
                            left: -8px;
                            top: -8px;
                            height: 100%;
                            width: 100%;
                            background: rgba(204, 22, 22, 0.15);
                            transition: all 0.3s ease-out 0s;
                            transform: translateZ(-1px);
                            z-index: -1;
                        }

                        .services .icon-box h4 {
                            font-weight: 700;
                            margin-bottom: 15px;
                            font-size: 24px;
                        }

                        .services .icon-box h4 a {
                            color: #191919;
                        }

                        .services .icon-box p {
                            line-height: 24px;
                            font-size: 14px;
                            margin-bottom: 0;
                        }

                        .services .icon-box:hover {
                            background: #cc1616;
                            border-color: #cc1616;
                            padding: 70px 20px 90px 20px;
                        }

                        .services .icon-box:hover .icon {
                            background: #fff;
                        }

                        .services .icon-box:hover .icon i {
                            color: #cc1616;
                        }

                        .services .icon-box:hover .icon::before {
                            background: rgba(255, 255, 255, 0.3);
                        }

                        .services .icon-box:hover h4 a,
                        .services .icon-box:hover p {
                            color: #fff;
                        }

    /*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
                        .cta {
                            background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cta-bg.jpg") fixed center center;
                            background-size: cover;
                            padding: 120px 0;
                        }

                        .cta h3 {
                            color: #fff;
                            font-size: 28px;
                            font-weight: 700;
                        }

                        .cta p {
                            color: #fff;
                        }

                        .cta .cta-btn {
                            font-family: "Raleway", sans-serif;
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 14px;
                            letter-spacing: 1px;
                            display: inline-block;
                            padding: 10px 28px;
                            transition: 0.5s;
                            margin-top: 10px;
                            border: 2px solid #fff;
                            color: #fff;
                        }

                        .cta .cta-btn:hover {
                            background: #cc1616;
                            border: 2px solid #cc1616;
                        }

    /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
                        .portfolio #portfolio-flters {
                            padding: 0;
                            margin: 0 auto 25px auto;
                            list-style: none;
                            text-align: center;
                            border-radius: 50px;
                        }

                        .portfolio #portfolio-flters li {
                            cursor: pointer;
                            display: inline-block;
                            padding: 10px 15px;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 1;
                            text-transform: uppercase;
                            color: #444444;
                            margin-bottom: 5px;
                            transition: all 0.3s ease-in-out;
                            font-family: "Poppins", sans-serif;
                        }

                        .portfolio #portfolio-flters li:hover,
                        .portfolio #portfolio-flters li.filter-active {
                            color: #e82d2d;
                        }

                        .portfolio #portfolio-flters li:last-child {
                            margin-right: 0;
                        }

                        .portfolio .portfolio-item {
                            margin-bottom: 30px;
                        }

                        .portfolio .portfolio-item .portfolio-info {
                            opacity: 0;
                            position: absolute;
                            left: 30px;
                            right: 30px;
                            bottom: 0;
                            z-index: 3;
                            transition: all ease-in-out 0.3s;
                            background: rgba(255, 255, 255, 0.9);
                            padding: 15px;
                        }

                        .portfolio .portfolio-item .portfolio-info h4 {
                            font-size: 18px;
                            color: #fff;
                            font-weight: 600;
                            color: #191919;
                        }

                        .portfolio .portfolio-item .portfolio-info p {
                            color: #4c4c4c;
                            font-size: 14px;
                            margin-bottom: 0;
                        }

                        .portfolio .portfolio-item .portfolio-info .preview-link,
                        .portfolio .portfolio-item .portfolio-info .details-link {
                            position: absolute;
                            right: 40px;
                            font-size: 24px;
                            top: calc(50% - 18px);
                            color: #333333;
                        }

                        .portfolio .portfolio-item .portfolio-info .preview-link:hover,
                        .portfolio .portfolio-item .portfolio-info .details-link:hover {
                            color: #cc1616;
                        }

                        .portfolio .portfolio-item .portfolio-info .details-link {
                            right: 10px;
                        }

                        .portfolio .portfolio-item .portfolio-links {
                            opacity: 0;
                            left: 0;
                            right: 0;
                            text-align: center;
                            z-index: 3;
                            position: absolute;
                            transition: all ease-in-out 0.3s;
                        }

                        .portfolio .portfolio-item .portfolio-links a {
                            color: #fff;
                            margin: 0 2px;
                            font-size: 28px;
                            display: inline-block;
                            transition: 0.3s;
                        }

                        .portfolio .portfolio-item .portfolio-links a:hover {
                            color: #e82d2d;
                        }

                        .portfolio .portfolio-item:hover .portfolio-info {
                            opacity: 1;
                            bottom: 20px;
                        }

    /*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
                        .portfolio-details {
                            padding-top: 40px;
                        }

                        .portfolio-details .portfolio-details-slider img {
                            width: 100%;
                        }

                        .portfolio-details .portfolio-details-slider .swiper-pagination {
                            margin-top: 20px;
                            position: relative;
                        }

                        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
                            width: 12px;
                            height: 12px;
                            background-color: #fff;
                            opacity: 1;
                            border: 1px solid #cc1616;
                        }

                        .portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
                            background-color: #cc1616;
                        }

                        .portfolio-details .portfolio-info {
                            padding: 30px;
                            box-shadow: 0px 0 30px rgba(25, 25, 25, 0.08);
                        }

                        .portfolio-details .portfolio-info h3 {
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: 20px;
                            padding-bottom: 20px;
                            border-bottom: 1px solid #eee;
                        }

                        .portfolio-details .portfolio-info ul {
                            list-style: none;
                            padding: 0;
                            font-size: 15px;
                        }

                        .portfolio-details .portfolio-info ul li+li {
                            margin-top: 10px;
                        }

                        .portfolio-details .portfolio-description {
                            padding-top: 30px;
                        }

                        .portfolio-details .portfolio-description h2 {
                            font-size: 26px;
                            font-weight: 700;
                            margin-bottom: 20px;
                        }

                        .portfolio-details .portfolio-description p {
                            padding: 0;
                        }

    /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
                        .team .member {
                            text-align: center;
                            margin-bottom: 20px;
                            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
                            padding: 30px 20px;
                            background: #fff;
                        }

                        .team .member img {
                            max-width: 60%;
                            border-radius: 50%;
                            margin: 0 0 30px 0;
                        }

                        .team .member h4 {
                            font-weight: 700;
                            margin-bottom: 2px;
                            font-size: 18px;
                        }

                        .team .member span {
                            font-style: italic;
                            display: block;
                            font-size: 13px;
                        }

                        .team .member p {
                            padding-top: 10px;
                            font-size: 14px;
                            font-style: italic;
                            color: #aaaaaa;
                        }

                        .team .member .social {
                            margin-top: 15px;
                        }

                        .team .member .social a {
                            color: #919191;
                            transition: 0.3s;
                        }

                        .team .member .social a:hover {
                            color: #cc1616;
                        }

                        .team .member .social i {
                            font-size: 18px;
                            margin: 0 2px;
                        }

    /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
                        .breadcrumbs {
                            padding: 15px 0;
                            background: #efefef;
                        }

                        .breadcrumbs h2 {
                            font-size: 26px;
                            font-weight: 600;
                        }

                        .breadcrumbs ol {
                            display: flex;
                            flex-wrap: wrap;
                            list-style: none;
                            padding: 0 0 10px 0;
                            margin: 0;
                            font-size: 14px;
                        }

                        .breadcrumbs ol li+li {
                            padding-left: 10px;
                        }

                        .breadcrumbs ol li+li::before {
                            display: inline-block;
                            padding-right: 10px;
                            color: #333333;
                            content: "/";
                        }
                    </style>
{% endblock %}
