{% extends "index.html" %}

{% block title %}
    Level 3
{% endblock %}

{% block main %}
    <div>
        <h1>Soal Latihan Level 3: Mengevaluasi dan Refleksi</h1>

    </div>

    <body>
        <h2 style="text-align: left; padding-left: 40px;"> Petunjuk:</h2>
        <h5 style="text-align: left; padding-left: 40px;"> Jawablah soal-soal berikut ini berdasarkan bacaan atau info grafik yang diberikan </h5>

    <!-- Part A -->
        <div class="containerquiz">
            <div class="column reading" style="flex:3">
            <!-- Reading Passage -->
                <h2>Cerpen Surtoksi</h2>
                <p>
                    Sudah sepuluh tahun kami tidak melihat matahari. Yang menjadi masalah bukanlah
                    mataharinya. Tidak ada larangan bagi kami berada di luar melihat matahari. Tapi kami tidak
                    akan melakukan hal bodoh itu. Jika sampai itu terjadi, berarti kami tidak sayang pada tubuh
                    kami. Lebih parah lagi, itu dinamakan bunuh diri. Entah sejak kapan pohon di sekitar kota ini
                    mengeluarkan gas yang membuat iritasi pada kulit hingga menyerang pembuluh darah. Gas itu
                    semakin cepat bereaksi dengan kulit oleh bantuan sinar matahari. Tidak semua pohon, hanya
                    satu jenis pohon yang mengeluarkan gas itu. Pohon Surtoksi memang benar hanya satu jenis
                    pohon saja, tapi jumlahnya ratusan bahkan ribuan dalam kota ini. Berakar kuat menjulang
                    tinggi tumbuh di seluruh kota hingga sudut-sudutnya. Mengisolir tempat ini ribuan hingga
                    ratusan kilometer. Kebanyakan orang yang berusaha melarikan diri saat matahari terbenam
                    tidak akan sampai pada batas lingkaran mematikan ini sebelum matahari terbit kembali.
                    Percuma mustahil itu yang dikatakan banyak orang. Tidak ada yang dapat menolong. Sinyal
                    elekromagnetik sebagai penolong satu-satunya pun terhambat oleh gas-gas beracun yang
                    dikeluarkan pohon-pohon itu.
                    <p>
                        “Yeksaaa! Kau tidak berangkat sekolah?” panggil Ibu sembari mengetuk pintu kamarku.
                    </p>
                    <p>
                        Aku masih fokus membaca buku yang baru saja kudapatkan dari Prof. Nemba. Beliau bersedia
                        mengikutkan aku pada proyeknya apabila aku dapat menyelesaikan membaca buku ini dan
                        lulus uji review subuh ini juga. </p>
                    <p>
                        “Yeksa!” panggil Ibu dengan suara yang semakin keras. </p>
                    <p>
                        Baiklah, sekarang fokusku benar-benar terusik oleh suara Ibu. Aku menutup buku dan
                        menggendong ransel. Sebelum teriakan Ibu menjebol pintu, aku harus sudah keluar dari kamar
                        ini. </p>
                    <p>
                        “Mantelmu?” tanya Ibu mengingatkan sebelum aku keluar dari rumah.</p>
                    <p>
                        “Aku bukan anak kecil lagi Ibu. Lima tahun lebih aku memakai mantel itu untuk berpergian ke
                        luar rumah, tidak mungkin aku lupa memakainya.” </p>
                    <p>
                        Mantel gas Surtoksi adalah pakaian wajib orang-orang di kota ini saat berada di luar rumah
                        pada malam hari. Mantel ciptaan Prof. Nemba itu menahan gas Surtoksi menempel pada kulit
                        kami. Meski dapat menyelamatkan kehidupan kami saat malam hari, mantel itu belum bisa
                        menahan keganasan gas Surtoksi pada siang hari. Di bagian kepala mantel dilengkapi penutup
                        wajah transparan. Mantel gas Surtoksi berwarna putih itu akan otomatis berubah warna
                        menjadi hijau apabila lingkungan sekitarnya sudah sangat jenuh gas Surtoksi. Tanda bahaya
                        itu wajib diperhatikan agar pemakai segera mencari tempat berlindung apa saja yang kedap
                        gas Surtoksi. </p>
                    <p>
                        Setiap rumah di kota ini juga dilengkapi cat dinding anti gas Surtoksi ciptaan Prof. Nemba.
                        Sejak 5 tahun yang lalu, tak ada jendela di setiap rumah.
                        Banyak alat-alat yang diciptakan Prof. Nemba bersama tim penelitiannya dalam membantu
                        kehidupan kota ini sehari-hari. Membantu kami untuk tetap hidup di antara pohon-pohon
                        mematikan itu. Itulah sebabnya aku ingin menjadi salah satu anggota tim penelitian Prof.
                        Nemba. Sebuah kebanggaan setiap keluarga apabila anaknya menjadi anggota tim penelitian
                        Prof. Nemba. </p>
                    <p>
                        “Sudah kuduga kau akan berada di tempat ini lagi.” Ucap Lakso yang membuat perhatianku
                        kepada buku yang sedang kubaca teralihkan. </p>
                    <p>
                        “…Tiga hari kau bolos sekolah demi lulus uji review buku The Monocotyle Trees yang sama
                        sekali tidak dapat mengungkap rahasia pohon Surtoksi.” </p>
                    <p>
                        “Kau merendahkan Prof. Nemba?” tanyaku sedikit tersinggung.
                    </p>
                    <p>
                        “Jika beliau benar-benar ingin membuat kehidupan kota ini aman dan nyaman, seharusnya
                        beliau memikirkan bagaimana caranya memusnahkan pohon sialan itu.”
                    </p>
                    <p>
                        “Kau banyak sekali bicara. Talk more do less! Orang lain tidak akan ada yang percaya jika kau
                        itu cucu kandung Prof. Nemba.” hujatku membungkam mulut Lakso. Dia diam tak membalas
                        perkataanku lagi. </p>
                    <p>
                        “Jangan sedih jika kau tidak lulus.” Ucapnya sembari menghilang di antara tumpukan bukubuku perpustakan ini. </p>
                    <p>
                        Review buku diuji oleh 3 orang termasuk Prof. Nemba. Ini adalah test tahap akhir seleksi
                        anggota tim penelitian yang sudah dilakukan sejak bulan lalu. Aku hanya butuh satu dari
                        sepuluh kursi yang tersedia. Aku yakin telah memahami semua isi dalam buku itu.
                        Tiga penguji masing-masing memberikan satu pertanyaan. Aku menjawab semua
                        pertanyaannya dengan lancar. Aku yakin aku pasti akan lolos. </p>
                    <p>
                        Satu jam kemudian kertas pengumuman anggota tim penelitian pun ditempel dan langsung di
                        kelilingi oleh banyak orang. Aku berjalan menuju kertas pengumuman itu dengan santai. Yeksa
                        Citra Viona. Aku mencari namaku di antara list 10 orang dalam kertas itu. </p>
                    <p>
                        Sumber: http://negerisekolahpunyahaifa.blogspot.com/2016/10/cerpen-fiksi-ilmiahsurtoksi.html. </p>
                </p>
            </div>
            <div class="column questions" style="flex:2">
            <!-- Questions for Part A -->
                <h2>Pertanyaan</h2>
                <form>
                    <p style="text-align: left;">Pertanyaan 1 <br>
                        Apa pandangan Lakso terhadap Prof. Nemba dan penelitiannya?</p>
                    <ol type="a">
                        <li>Lakso meragukan efektivitas dan tujuan penelitian Prof. Nemba.</li>
                        <li>Lakso menyambut baik ide-ide baru yang diusulkan oleh Prof. Nemba.</li>
                        <li>Lakso tidak peduli dengan penelitian yang dilakukan oleh Prof. Nemba.</li>
                        <li>Lakso percaya bahwa penelitian Prof. Nemba akan mengubah dunia.</li>
                        <li>Lakso merasa bangga menjadi bagian dari tim penelitian Prof. Nemba.</li>
                    </ol>
                    <div class="radio-group" centered>
                        <div class="radio-buttons" centered>
                            <p style="color:white">Jawaban No.1:
                                <input type="radio" name="q1" value="a" class="correct" id="q1-a"><label for="q1-a" style="margin-right: 10px;">a</label>
                                <input type="radio" name="q1" value="b" id="q1-b"><label for="q1-b" style="margin-right: 10px;">b</label>
                                <input type="radio" name="q1" value="c" id="q1-c"><label for="q1-c" style="margin-right: 10px;">c</label>
                                <input type="radio" name="q1" value="d" id="q1-d"><label for="q1-d" style="margin-right: 10px;">d</label>
                                <input type="radio" name="q1" value="e" id="q1-e"><label for="q1-e" style="margin-right: 10px;">e</label>
                            </p>
                        </div>
                    </div>

                    <p style="text-align: left;">Pertanyaan 2 <br>
                        Bagaimana perasaan Yeksa Citra Viona saat mengetahui hasil ujiannya untuk menjadi anggota tim penelitian?</p>
                    <ol type="a">
                        <li>Tidak peduli dan tidak tertarik dengan hasilnya.</li>
                        <li>Merasa sangat senang dan yakin akan lolos ujian.</li>
                        <li>Merasa kecewa dan ragu dengan kemampuannya.</li>
                        <li>Merasa tidak puas meskipun hasil ujiannya bagus.</li>
                        <li>Berharap dapat mengulang ujian untuk mendapatkan hasil yang lebih baik.</li>
                    </ol>
                    <div class="radio-group" centered>
                        <div class="radio-buttons" centered>
                            <p style="color:white">Jawaban No.2:
                                <input type="radio" name="q2" value="a" id="q2-a"><label for="q2-a" style="margin-right: 10px;">a</label>
                                <input type="radio" name="q2" value="b" class="correct" id="q2-b"><label for="q2-b" style="margin-right: 10px;">b</label>
                                <input type="radio" name="q2" value="c" id="q2-c"><label for="q2-c" style="margin-right: 10px;">c</label>
                                <input type="radio" name="q2" value="d" id="q2-d"><label for="q2-d" style="margin-right: 10px;">d</label>
                                <input type="radio" name="q2" value="e" id="q2-e"><label for="q2-e" style="margin-right: 10px;">e</label>
                            </p>
                        </div>
                    </div>

                    <p style="text-align: left;">Pertanyaan 3 <br>
                        Bagaimana peran Prof. Nemba dan tim penelitiannya dalam menciptakan solusi untuk mengatasi masalah
                        gas beracun dari pohon Surtoksi?</p>
                    <ol type="a">
                        <li>Prof. Nemba dan tim penelitiannya menghancurkan semua pohon Surtoksi di kota.</li>
                        <li>Prof. Nemba dan timnya menciptakan mantel gas Surtoksi untuk melindungi warga dari gas beracun.</li>
                        <li>Mereka mengadakan penelitian untuk mengetahui asal muasal gas beracun dari pohon Surtoksi.</li>
                        <li>Prof. Nemba dan timnya mengusulkan agar warga kota memindahkan rumah mereka ke daerah yang aman dari pohon Surtoksi..</li>
                        <li>Prof. Nemba menghancurkan semua pohon Surtoksi di kota.</li>

                    </ol>
                    <div class="radio-group" centered>
                        <div class="radio-buttons" centered>
                            <p style="color:white">Jawaban No.3:
                                <input type="radio" name="q3" value="a" id="q3-a"><label for="q3-a" style="margin-right: 10px;">a</label>
                                <input type="radio" name="q3" value="b" class="correct" id="q3-b"><label for="q3-b" style="margin-right: 10px;">b</label>
                                <input type="radio" name="q3" value="c" id="q3-c"><label for="q3-c" style="margin-right: 10px;">c</label>
                                <input type="radio" name="q3" value="d" id="q3-d"><label for="q3-d" style="margin-right: 10px;">d</label>
                                <input type="radio" name="q3" value="e" id="q3-e"><label for="q3-e" style="margin-right: 10px;">e</label>
                            </p>
                        </div>
                    </div>

                    <p style="text-align: left;">Pertanyaan 4 <br>
                        Tentukan apakah pesan moral dalam cerpen "surtoksi" sesuai dengan pernyataan berikut ini. Pilih ya jika sesuai dan tidak jika tidak sesuai</p>
                    <table>
                        <tr>
                            <th>Pernyataan</th>
                            <th>Ya</th>
                            <th>Tidak </th>
                        </tr>
                        <tr>
                            <td>Keyakinan bahwa semua masalah lingkungan
                                dapat diselesaikan dengan teknologi canggih tanpa perlu penelitian dan
                                pemahaman mendalam tentang sumber masalahnya.</td>
                            <td class="fusia"><input type="radio" name="statement1" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement1" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Kesadaran akan pentingnya keselamatan diri dan menjaga kesehatan di lingkungan yang berbahaya.</td>
                            <td class="fusia"><input type="radio" name="statement3" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement3" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Inovasi dan teknologi dapat melindungi manusia dari bahaya yang mematikan.</td>
                            <td class="fusia"><input type="radio" name="statement4" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement4" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Pandangan bahwa keberhasilan dalam hidup hanya dapat
                                dicapai melalui pencapaian akademis dan bergabung dengan tim penelitian tertentu.
                            </td>
                            <td class="fusia"><input type="radio" name="statement2" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement2" class="correct" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Semangat untuk berkontribusi pada kebaikan masyrakat dapat menjadi inspirasi
                                dalam mengejar cita-cita.</td>
                            <td class="fusia"><input type="radio" name="statement5" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement5" value="salah"></td>
                        </tr>
                    </table>
                    <button type="submit">Submit Part A</button>
                </form>
            </div>
        </div>
        <br>

    <!-- Part B -->
        <div class="containerquiz">
            <div class="column reading" style="flex:3">
            <!-- Picture for Part B -->
                <h5>Infografik berikut untuk soal nomor 5 dan 6</h5>
                <img src='/static/img/soaltry1.png' alt="Big Picture" style="max-width: 100%;">
            </div>
            <div class="column reading" style="flex:2">
            <!-- Questions for Part B -->
                <h2></h2>
                <form>
                    <p style="text-align: left;">Pertanyaan 5:</p>
                    <p style="text-align: left;">Berdasarkan infografik disamping, bentuk apresiasi budaya yang dilakukan oleh Jarum Foundation adalah .... (jawaban dapat lebih dari satu)</p>
                    <table id="tabel5">
                        <tr>
                            <td><input type="checkbox" name="check1" class="correct"></td>
                            <td>Memberikan edukasi kepada masyrakat Indonesia dan masyarakat global tentang kekayaan budaya Indonesia</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="check2"></td>
                            <td>Jarum Foundation ikut mengembangkan seni tari tradisional dan seni bela diri tradisional</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="check3"></td>
                            <td>Memberikan pendampingan hukum dalam sengketa klaim budaya dengan negara lain</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="check4" class="correct"></td>
                            <td>Jarum foundation memberikan apresiasi kepada pegiat budaya Indonesia seperti batik dan seni pertunjukan tradisional </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="check5" class="correct"></td>
                            <td>Agar dapat mengapresiasi budaya Indonesia maka kita perlu bergabung dengan Jarum Bakti Foundation</td>
                        </tr>
                    </table>
                    <br>
                    <br>
                    <p style="text-align: left;">Pertanyaan 6:</p>
                    <p style="text-align: left;">Identifikasi pernyataan berikut yang sesuai dan yang tidak sesuai dengan konteks apresiasi budaya dalam infografik disamping adalah. Pilih ya jika sesuai dan tidak jika tidak sesuai</p>
                    <table>
                        <tr>
                            <th>Pernyataan</th>
                            <th>Ya</th>
                            <th>Tidak </th>
                        </tr>
                        <tr>
                            <td>Apresiasi budaya dilakukan sebagai upaya memelihara warisan leluhur kita dan terus menggali nili-nilai kebajikan dalam budaya kita.</td>
                            <td class="fusia"><input type="radio" name="statement1" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement1" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Apresiasi budaya hanya perlu dilakukan untuk seni batik tradisional dan wayang saja.</td>
                            <td class="fusia"><input type="radio" name="statement3" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement3" class="correct" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Apresiasi budaya dilakukan dengan mencari talenta-talenta budaya yang unggul yang dapat merepresentasikan budaya Indonesia ke dunia internasional.</td>
                            <td class="fusia"><input type="radio" name="statement4" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement4" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Apresiasi budaya dilakukan untuk menunjukkan pada dunia bahwa budaya kita memang lebih kaya dan lebih baik dari bangsa lain.</td>
                            <td class="fusia"><input type="radio" name="statement2" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement2" class="correct" value="salah"></td>
                        </tr>
                        <tr>
                            <td>Apresiasi budaya dilakukan dengan mendirikan pusat pelatihan budaya untuk menggali dan mengembangkan budaya.</td>
                            <td class="fusia"><input type="radio" name="statement5" class="correct" value="benar"></td>
                            <td class="fusia"><input type="radio" name="statement5" value="salah"></td>
                        </tr>
                    </table>
                    
                    <br>
                    <button type="submit">Submit Part B</button>
                </form>
            </div>
        </div>
        <style>
        /* CSS styles */
            .containerquiz {
                display: flex;
                padding: 5px 30px 10px 10px;

            }

            .column {
                padding: 20px 20px 20px 5px;
            }

            .reading {
                text-align: left;
                background-color: lightblue;
                border-radius: 20px;
                padding: 10px;
            }

            .questions {
                text-align: left;
                background-color: lightgrey;
                border-radius: 20px;
                padding: 20px;
            }

            .radio-group {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

            }

            .radio-group label {
                margin-right: 20px;
                color: white;
            }

            .radio-buttons {
                display: flex;
                background-color: #FF00FF;
                border: 3px solid black;
            /* Add border around radio buttons */
                padding: 5px;
            /* Add padding inside the border */
                border-radius: 20px;
            }

            .table1 {
                border-collapse: collapse;
                width: 100%;
            }

            th,
            td {
                border: 1px solid black;
                padding: 8px;
                text-align: left;
            }

            input[type="radio"] {
                margin-right: 5px;
            }

            .fusia {
                background-color: #ff00ff;
            /* Warna fusia */
            }

            table#tabel5 {
                border-collapse: collapse;
                width: 100%;
            }

            table#tabel5 td {
                padding: 10px;
                border: none;
            }

            table#tabel5 tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            table#tabel5 tr:nth-child(even) {
                background-color: #FAE6FA;
            }
        </style>

    </body>

{% endblock %}
