{% extends "index.html" %}

{% block title %}
    Try Out
{% endblock %}

{% block main %}

<h1>Page Try Out masih proses</h1>




<body>
    <h1>Quiz</h1>
    <style>
        /* CSS styles */
        .container {
            display: flex;
            
        }

        .column {
            flex: 50%;
            padding: 20px;
        }
        .reading {
            text-align: left;
        }
    </style>
    <!-- Part A -->
    <div class="container">
        <div class="column reading">
            <!-- Reading Passage -->
            <h2>Reading Passage</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque. Sed vestibulum arcu ut nibh vehicula eleifend. Duis eget elit vitae turpis ultrices dignissim a vel velit. Suspendisse potenti. Cras et nunc a massa sollicitudin auctor sed pellentesque ex. Duis eu ex tempor, ultricies ante a, sollicitudin ante. Etiam rutrum pulvinar nisi, ac consequat est tincidunt imperdiet. Ut ut iaculis risus. Pellentesque eu consequat est, quis consequat purus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque. Sed vestibulum arcu ut nibh vehicula eleifend. Duis eget elit vitae turpis ultrices dignissim a vel velit. Suspendisse potenti. Cras et nunc a massa sollicitudin auctor sed pellentesque ex. Duis eu ex tempor, ultricies ante a, sollicitudin ante. Etiam rutrum pulvinar nisi, ac consequat est tincidunt imperdiet. Ut ut iaculis risus. Pellentesque eu consequat est, quis consequat purus.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque. Sed vestibulum arcu ut nibh vehicula eleifend. Duis eget elit vitae turpis ultrices dignissim a vel velit. Suspendisse potenti. Cras et nunc a massa sollicitudin auctor sed pellentesque ex. Duis eu ex tempor, ultricies ante a, sollicitudin ante. Etiam rutrum pulvinar nisi, ac consequat est tincidunt imperdiet. Ut ut iaculis risus. Pellentesque eu consequat est, quis consequat purus.
            </p>
        </div>
        <div class="column">
            <!-- Questions for Part A -->
            <h2>Questions</h2>
            <form>
                <p style="text-align: left;">Question 1:</p>
                <p style="text-align: left;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque.</p>
                <input type="radio" id="q1-option-a" name="q1" value="a">
                <label for="q1-option-a">Option A</label><br>
                <input type="radio" id="q1-option-b" name="q1" value="b">
                <label for="q1-option-b">Option B</label><br>
                <input type="radio" id="q1-option-c" name="q1" value="c">
                <label for="q1-option-c">Option C</label><br>
                <input type="radio" id="q1-option-d" name="q1" value="d">
                <label for="q1-option-d">Option D</label><br>

                <p style="text-align: left;">Question 2:</p>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque.</p>
                <input type="radio" id="q2-option-a" name="q2" value="a">
                <label for="q2-option-a">Option A</label><br>
                <input type="radio" id="q2-option-b" name="q2" value="b">
                <label for="q2-option-b">Option B</label><br>
                <input type="radio" id="q2-option-c" name="q2" value="c">
                <label for="q2-option-c">Option C</label><br>
                <input type="radio" id="q2-option-d" name="q2" value="d">
                <label for="q2-option-d">Option D</label><br>

                <p style="text-align: left;">Question 3:</p>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque.</p>
                <input type="radio" id="q3-option-a" name="q3" value="a">
                <label for="q3-option-a">Option A</label><br>
                <input type="radio" id="q3-option-b" name="q3" value="b">
                <label for="q3-option-b">Option B</label><br>
                <input type="radio" id="q3-option-c" name="q3" value="c">
                <label for="q3-option-c">Option C</label><br>
                <input type="radio" id="q3-option-d" name="q3" value="d">
                <label for="q3-option-d">Option D</label><br>

                <button type="submit">Submit Part A</button>
            </form>
        </div>
    </div>

    <!-- Part B -->
    <div class="container">
        <div class="column">
            <!-- Picture for Part B -->
            <h2>Amati info grafik berikut dengan seksama dan jawablah soal disamping</h2>
            <img src='/static/img/soaltry1.png' alt="Big Picture" style="max-width: 100%;">
        </div>
        <div class="column">
            <!-- Questions for Part B -->
            <h2>Questions</h2>
            <form>
                <p style="text-align: left;">Question 4:</p>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque.</p>
                <input type="radio" id="q4-option-a" name="q4" value="a">
                <label for="q4-option-a">Option A</label><br>
                <input type="radio" id="q4-option-b" name="q4" value="b">
                <label for="q4-option-b">Option B</label><br>
                <input type="radio" id="q4-option-c" name="q4" value="c">
                <label for="q4-option-c">Option C</label><br>
                <input type="radio" id="q4-option-d" name="q4" value="d">
                <label for="q4-option-d">Option D</label><br>

                <p style="text-align: left;">Question 5:</p>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque.</p>
                <input type="radio" id="q5-option-a" name="q5" value="a">
                <label for="q5-option-a">Option A</label><br>
                <input type="radio" id="q5-option-b" name="q5" value="b">
                <label for="q5-option-b">Option B</label><br>
                <input type="radio" id="q5-option-c" name="q5" value="c">
                <label for="q5-option-c">Option C</label><br>
                <input type="radio" id="q5-option-d" name="q5" value="d">
                <label for="q5-option-d">Option D</label><br>

                <p style="text-align: left;">Question 6:</p>
                <p style="text-align: left;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis turpis vel justo sodales, nec ultrices libero pellentesque.</p>
                <input type="radio" id="q5-option-a" name="q5" value="a">
                <label for="q5-option-a">Option A</label><br>
                <input type="radio" id="q5-option-b" name="q5" value="b">
                <label for="q5-option-b">Option B</label><br>
                <input type="radio" id="q5-option-c" name="q5" value="c">
                <label for="q5-option-c">Option C</label><br>
                <input type="radio" id="q5-option-d" name="q5" value="d">
                <label for="q5-option-d">Option D</label><br>

                <button type="submit">Submit Part B</button>
            </form>
        </div>
    </div>

</body>

{% endblock %}
